:root{
    --primary-color:#000957;
    --secondary-color: #344CB7;
    --fancy-color: #FFEB00
}
body{
    background-color: #ebf1eb !important;
}
.login{
    color:#edde33;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.log{
    background-color: var(--secondary-color);
    color: white;
}
.log:hover{
    background-color: #5d71c9 !important;
    color: white !important;
}
.forgot{
    color: #344CB7;
}
#checkbox{
    accent-color: #344CB7 !important;
    padding: 5px;
}
.sub-head{
    color:var(--secondary-color) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.google {
    width: 34px;
    height: 36px;
}


#or {
    width: 30em;
    text-align: center;
    border-bottom: 1px solid #9a9a9a;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 12px;
}

#or span {
    background: #ebf1eb;
    padding: 0 10px;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
    position: relative;
    width: 120px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #3b82f6;
    background-color: var(--secondary-color);
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 40px;
    width: 39px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: var(--secondary-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #344CB7;
  }
  
  .button:active {
    border: 1px solid #344CB7;
  }
.search{
    border-radius: 40px;
    height: 40px;
    border: 1px solid blue;
    padding: 9px;
    padding-left: 19px;
  width: 45%;
    outline: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.name{
  color: 'grey';
  font-size: '13px';
  background-color: lightskyblue;
  color: white;
  border-radius: 15px;
  font-weight: lighter
}

.card {
  background-color: white;
  width: 14rem; /* 48 in Tailwind */
  height: 8rem; /* 64 in Tailwind */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.5rem; /* p-2 */
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.circle-container {
  display: flex;
  gap: 0.25rem; /* gap-1 */
  padding: 0.5rem;
}

.circle {
  width: 0.75rem; /* w-3 */
  height: 0.75rem; /* h-3 */
  border-radius: 50%; /* rounded-full */
  display: inline-block;
}

.bg-blue {
  background-color: #3b82f6; /* Blue-500 */
}

.bg-purple {
  background-color: #a855f7; /* Purple-500 */
}

.bg-pink {
  background-color: #ec4899; /* Pink-500 */
}

.card__content {
  /* You can style content here */
}


@media screen and (max-width: 320px){
    #or {
        width: 100% !important;
    }
}