:root{
    --primary-color:#000957;
    --secondary-color: #344CB7;
    --fancy-color: #FFEB00
}
body{
    background-color: #ebf1eb !important;
}
.login{
    color:#edde33;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.log{
    background-color: var(--secondary-color);
    color: white;
}
.log:hover{
    background-color: #5d71c9 !important;
    color: white !important;
}
.forgot{
    color: #344CB7;
}
#checkbox{
    accent-color: #344CB7 !important;
    padding: 5px;
}
.sub-head{
    color:var(--secondary-color) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}